@media only screen and (max-width:1160px) {}

@media only screen and (max-width:992px) {

}

@media only screen and (max-width:768px) {
    .nav-ul {
        display: none;
    }

    .icon .bar {
        display: block;
    }

    .icon .search {
        display: none;
    }

    .header-content .header-h1 {
        width: 100%;
    }

    .header-content .header-p {
        width: 70%;
    }

    #sec1 .row {
        flex-direction: column;
    }

    #sec1 .row .col {
        width: 90%;
        margin: 0 auto;
    }

    .meal .row {
        display: block;
    }

    .meal-content .meal-h1 {
        width: 100%;
    }

    .meal .row .col-4 {
        width: 70%;
        margin: 0 auto;
        /* border: 2px solid; */
    }

    .meal-img {
        margin: 0 auto;
    }

    .meal .row .col-6 {
        width: 100%;
    }

    .meal-content .meal-p {
        width: 100%;
    }

    #foot .row {
        display: block;
    }

    #foot .row .col {
        width: 50%;
        margin: 20px auto;
    }

    #sec4 .row {
        display: block;

    }

    #sec4 .row .col {
        width: 90%;
        margin: 20px auto;
    }
    #sec4 .store-p{
        width: 90%;
    }

    #menu .menu-down .row {
        display: block;
    }

    #menu .menu-down .col-5 {
        width: 80%;
        margin: 0 auto;
    }

    .menu-up .menu-up-p {
        width: 100%;
    }
}

@media only screen and (max-width:576px) {
    #foot .row .col {
        width: 90%;
    }
}