@media only screen and (max-width:1160px) {
    
}
@media only screen and (max-width:992px) {
    
}
@media only screen and (max-width:768px) {
    .nav-ul{
        display: none;
    }
    .icon .bar{
        display: block;
    }
    .icon .search{
        display: none;
    }
    .header-content .header-h1{
        width: 100%;
    }
    .header-content .header-p{
        width: 70%;
    }
    #sec1 .row {
        flex-direction: column;
    }
    #sec1 .row .col {
        width: 90%;
        margin: 0 auto;
    }

}
@media only screen and (max-width:576px) {
   
}